body{

}

.heading{
  font-size: 3em;
  text-align: center;
  padding: 20px;
}

/*Calculator Style*/

.CalcBox{
  border-color: #777;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
  background-color: #999;
  width:320px;
  height:400px;
  border-radius: 5px;
  box-shadow: 20px 20px 50px 10px #333;
}

.digitizer-main{
  height:80px;
  background-color: white;
  text-align: right;
  line-height: 300%;
  padding-top: 35px;
}

.numout{
  display: inline-block;
  width:285px;
  font-size: 3em;
  overflow: hidden;
  vertical-align: bottom;
  direction: rtl;
}

.opout{
  display: inline-block;
  color:#666;
  width:20px;
  font-size: 1.5em;
  vertical-align: middle;
  padding-right: 5px;
}

.digitizer-small{
  height:50px;
  background-color: #ddd;
  overflow: hidden;
}

.summaryOuter{
  width: 335px;
  height: 100%;
  text-align: left;
  padding-left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.summary{
  vertical-align: baseline;
  padding-right: 25px;
  width: 320px;
}

.numpad{
  padding: 4px;
  padding-top: 2px;
  font-size: 1.4em;
  background-color: #eee;
}

.btn{
  padding: 0;
  vertical-align: middle;
  line-height: 46px;
}

.bStyle{
  margin-top: 5px;
  height:48px;
  width:73px;
}

.btn-misc{
  background-color: #999;
}

.btn-eql{
   background-color: #bf360c;
   font-size: 2em;
}

.long-btn{
  width:151px;
}

.op-btn{
  background-color: #ff7043;
}

.num-btn{
  background-color: #eee;
  color: #333;
}
